# .DS_Store
.DS_Store

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Flask stuff:
instance/
.webassets-cache

# virtualenv
venv/
ENV/


# Node project dependencies and settings
**/node_modules/

